*{
    margin: 0 auto;
}

.logo img {                  /* aligning the logo to the center */
    display: block;
    margin-top: 99px;
}

.search-bar input {           /* styling the search bar*/
    display: block;
    width: 400px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 15px;

}

.top-nav ul {               /* styling top navigation bar (standard)*/
    list-style-type: none;
    margin-right: 20px;
    padding: 0;
    margin-top: 20px;
    text-align: right;
    

}

li {                      /* standard - don't forget this*/
    display: inline;
    
}

 li a:hover {                         /* standard - can even opt to change colour when hovering*/
     text-decoration: underline;
 }

a {                                /*standard - keep text decoration to none*/
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding-right: 5px;
    }

.buttons {
    margin-left: 230px;
    margin-top: 20px;
}


footer {                    /* This fixed footer has left and right items */
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: lightgray;
    padding: 5px;
    width: 100%;
    
}

/* standard - set display property to inline for both left and right*/

footer .left-items {
    display: inline;
}   

footer .right-items {
    display: inline;
    float: right;
    padding-right: 5px;
}

